<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('../partials/HeaderFiles')%>

</head>
<style>
    .error
    {
        color:red
    }

</style>
<body>
<div class="container">
    <div class="row pt-5">
        <div class="col-sm-6 offset-lg-3" style="background-color:lightcyan">
            <form class="m-4" id="changeForgotPasswordForm">
                <h2 style="color: saddlebrown;text-align: center">Change Password</h2>
                <label for="password">Enter New Password</label>
                <input type="password" id="newPassword" name="newPassword" required minlength="3" maxlength="8" placeholder="Enter New Password" class="form-control">
                <br>
                <label for="password">Confirm New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required minlength="3" maxlength="8" data-rule-equalto="#newPassword" placeholder="Confirm New Password" class="form-control">
                <button type="button" onclick="AdminChangeForgotPassword()" class="btn btn-primary form-control mt-4 mb-3">Change Password</button>
            </form>
        </div>

    </div>
</div>
<%- include('../partials/Scripts')%>
<script>
    async function AdminChangeForgotPassword()
    {
        if(!localStorage.getItem("adminEmail")) {
            window.location.href="/adminForgotPassword";
        } else {
            if($("#changeForgotPasswordForm").valid()) {
                let email = localStorage.getItem("adminEmail")
                let newPassword = document.getElementById("newPassword").value
                let url = "/admin/adminChangeForgotPassword"
                let response = await fetch(url,
                    {
                        method: "Post",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({newPassword: newPassword, email: email})
                    }
                )
                response = await response.json()
                if (response.error !== "") {
                    Swal.fire({
                        icon: "error",
                        title: response.error,
                        showConfirmButton: false,
                        timer: 3000
                    });
                } else {
                    Swal.fire({
                        icon: "success",
                        title: response.message,
                        showConfirmButton: true,
                    }).then(()=>{
                        window.location.href='/admin/admin'
                    })
                }
            }
        }
    }

</script>
</body>
</html>