<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('../partials/HeaderFiles.ejs')%>

</head>
<body>
<%- include('../partials/adminHeader.ejs')%>

<section class="page-header">
    <div class="page-header-shape"></div>
    <div class="container">
        <div class="page-header-info">
            <h4>Dashboard</h4>
            <h2>Our expert drivers will <br>make your <span>Ride Safe!</span></h2>
            <p>Everything your taxi business <br>needs is already here! </p>
        </div>
    </div>
</section>

<%- include('../partials/footer.ejs')%>

<%- include('../partials/Scripts.ejs')%>

</body>
</html>