<header class="main-header">
    <div class="mid-header">
        <div class="container">
            <div class="mid-header-wrap">
                <div class="site-logo">
                    <a href="/"><img src="/assets/img/logo-dark.png" alt="Logo"></a>
                </div><!--/.site-logo-->
                <ul class="header-info">
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-phone-volume"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Call us now</span><a >5267-214-392</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-envelope-open"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Email now</span>parasmarwaha246k@mail.com</h3>
                        </div>
                    </li>
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-map-marked-alt"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Queen's Road</span>Amritsar, 143001</h3>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div><!--/.mid-header-->
    <div class="nav-menu-wrapper">
        <div class="container">
            <div class="nav-menu-inner">
                <div class="site-logo">
                    <a href="/"><img src="/assets/img/logo-dark.png" alt="Logo"></a>
                </div><!--/.site-logo-->
                <div class="header-menu-wrap">
                    <ul class="nav-menu">
                        <li class="active dropdown_menu">
                            <a href="/">Home</a>
                        </li>
                        <li class="active dropdown_menu">
                            <a href="/user/userSignup">Sign-Up</a>
                        </li>
                        <li class="active dropdown_menu">
                            <a href="/user/userLogin">Sign-In</a>
                        </li>

                    </ul>
                </div>
                <div class="menu-right-item">

                    <a href="/user/Book-Taxi" class="menu-btn">Book a Taxi</a>
                </div>

                <div class="mobile-menu-icon">
                    <div class="burger-menu">
                        <div class="line-menu line-half first-line"></div>
                        <div class="line-menu"></div>
                        <div class="line-menu line-half last-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.nav-menu-->
</header>

